/generate.xml
/generateChildNodeTestsFromUMLPapyrusTesting.xml
/generateChildNodeTestsFromUMLPapyrusTestingTarget.xml
/generateNodeTests.xml
/generateNodeTestsTarget.xml
/generateTarget.xml
/generateTopNodeTestsFromUMLPapyrusTesting.xml
/generateTopNodeTestsFromUMLPapyrusTestingTarget.xml
/generateEditPartTests.xml
/generateEditPartTestsTarget.xml
