/Editor.java
/DeleteElementAction.java
/DiagramEditorContextMenuProvider.java
/VisualIDRegistry.java
/extensions.java
/ActionBarContributor.java
/NewDiagramFileWizard.java
/DocumentProvider.java
/ResourceSetModificationListener.java
/ValidateAction.java
