<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.papyrus.migration.rsa.import"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="emx">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="epx">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.migration.rsa.handler.ImportHandler"
            id="org.eclipse.papyrus.migration.rsa.import"
            name="Import RSA Model/Profile">
      </command>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.eclipse.uml2.uml.internal.resource.UML22UMLResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.uml2.uml_2_0_0.rsa">
      </parser>
      <parser
            class="org.eclipse.uml2.uml.internal.resource.UML212UMLResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.uml2.uml_2_1_0.rsa">
      </parser>
      <parser
            class="org.eclipse.uml2.uml.internal.resource.UML302UMLResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.uml2.uml_3_0_0.rsa">
      </parser>
      <parser
            class="org.eclipse.uml2.uml.internal.resource.UML402UMLResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.uml2.uml_4_0_0.rsa">
      </parser>
      <parser
            class="org.eclipse.uml2.uml.internal.resource.UMLResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.uml2.uml_5_0_0.rsa">
      </parser>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PapyrusRSANotation -->
      <package
            uri="http://www.eclipse.org/papyrus/umlnotation"
            class="org.eclipse.papyrus.migration.rsa.umlnotation.PapyrusUMLNotationPackage"
            genModel="model/PapyrusUMLNotation.genmodel"/>
      <package
            class="org.eclipse.papyrus.migration.rsa.umlnotation.PapyrusUMLNotationPackage"
            genModel="model/PapyrusUMLNotation.genmodel"
            uri="http://www.ibm.com/xtools/1.5.3/Umlnotation">
      </package>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PapyrusDefault -->
      <package
            uri="http://www.eclipse.org/papyrus/profile/default"
            class="org.eclipse.papyrus.migration.rsa.default_.DefaultPackage"
            genModel="model/PapyrusDefault.genmodel"/>
      <package
            class="org.eclipse.papyrus.migration.rsa.default_.DefaultPackage"
            genModel="model/PapyrusDefault.genmodel"
            uri="http:///schemas/Default/1">
      </package>
      <package
            class="org.eclipse.papyrus.migration.rsa.default_.DefaultPackage"
            genModel="model/PapyrusDefault.genmodel"
            uri="http:///schemas/Default/_fNm3AAqoEd6-N_NOT9vsCA/2">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PapyrusProfileBase -->
      <package
            uri="http://www.eclipse.org/papyrus/profile/profilebase"
            class="org.eclipse.papyrus.migration.rsa.profilebase.ProfileBasePackage"
            genModel="model/PapyrusProfileBase.genmodel"/>
      <package
            class="org.eclipse.papyrus.migration.rsa.profilebase.ProfileBasePackage"
            genModel="model/PapyrusProfileBase.genmodel"
            uri="http:///schemas/ProfileBase/1">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PapyrusRT -->
      <package
            uri="http://www.eclipse.org/papyrus/profile/umlrt"
            class="org.eclipse.papyrus.migration.rsa.umlrt.UMLRealTimePackage"
            genModel="model/PapyrusRT.genmodel"/>
      <package
            class="org.eclipse.papyrus.migration.rsa.umlrt.UMLRealTimePackage"
            genModel="model/PapyrusRT.genmodel"
            uri="http:///schemas/UMLRealTime/_3TUzoHq6Ed2hSeAAWZznoA/119">
      </package>
   </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            description="Java helpers to refactor UML types"
            name="RTMappings"
            namespace="org.eclipse.papyrus.migration.rsa">
         <library
               class="org.eclipse.papyrus.migration.rsa.blackbox.RTMappings">
            <metamodel
                  nsURI="http://www.eclipse.org/uml2/5.0.0/UML">
            </metamodel>
         </library>
      </unit>
      <unit
            description="Java helpers to manipulate ProfileBase"
            name="ProfileBaseHelper"
            namespace="org.eclipse.papyrus.migration.rsa">
         <library
               class="org.eclipse.papyrus.migration.rsa.blackbox.ProfileBaseHelper">
            <metamodel
                  nsURI="http://www.eclipse.org/papyrus/profile/profilebase">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="emx"
            type="text">
      </fileTypes>
      <fileTypes
            extension="epx"
            type="text">
      </fileTypes>
      <fileTypes
            extension="efx"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <!--content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="emx,efx,epx,uml"
            id="org.eclipse.uml2.uml"
            name="%_UI_UML_content_type"
            priority="high">
         <describer
               class="org.eclipse.papyrus.migration.rsa.contenttype.ExtendedXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespacePattern"
                  value="http://www\.eclipse\.org/uml2/(2\.0\.0|2\.1\.0|3\.0\.0|4\.0\.0|5\.0\.0)/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml"
            file-extensions="emx,efx,epx,uml"
            id="org.eclipse.uml2.uml_2_0_0"
            name="%_UI_UML_2_0_0_content_type"
            priority="high">
         <describer
               class="org.eclipse.papyrus.migration.rsa.contenttype.ExtendedXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/2.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml"
            file-extensions="emx,efx,epx,uml"
            id="org.eclipse.uml2.uml_2_1_0"
            name="%_UI_UML_2_1_0_content_type"
            priority="high">
         <describer
               class="org.eclipse.papyrus.migration.rsa.contenttype.ExtendedXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml"
            file-extensions="emx,efx,epx,uml"
            id="org.eclipse.uml2.uml_3_0_0"
            name="%_UI_UML_3_0_0_content_type"
            priority="high">
         <describer
               class="org.eclipse.papyrus.migration.rsa.contenttype.ExtendedXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/3.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml"
            file-extensions="emx,efx,epx,uml"
            id="org.eclipse.uml2.uml_4_0_0"
            name="%_UI_UML_4_0_0_content_type"
            priority="high">
         <describer
               class="org.eclipse.papyrus.migration.rsa.contenttype.ExtendedXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/4.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml"
            file-extensions="emx,efx,epx,uml"
            id="org.eclipse.uml2.uml_5_0_0"
            name="%_UI_UML_5_0_0_content_type"
            priority="high">
         <describer
               class="org.eclipse.papyrus.migration.rsa.contenttype.ExtendedXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/5.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type-->
      <file-association
            content-type="org.eclipse.uml2.uml.rsa"
            file-extensions="epx,emx,efx">
      </file-association>
      <file-association
            content-type="org.eclipse.uml2.uml_2_1_0.rsa"
            file-extensions="epx,emx,efx">
      </file-association>
      <file-association
            content-type="org.eclipse.uml2.uml_3_0_0.rsa"
            file-extensions="epx,emx,efx">
      </file-association>
      <file-association
            content-type="org.eclipse.uml2.uml_4_0_0.rsa"
            file-extensions="epx,emx,efx">
      </file-association>
      <file-association
            content-type="org.eclipse.uml2.uml_5_0_0.rsa"
            file-extensions="epx,emx,efx">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.uml2.uml"
            file-extensions="epx,emx,efx"
            id="org.eclipse.uml2.uml.rsa"
            name="%_UI_UML_rsa_content_type"
            priority="normal">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespacePattern"
                  value="http://www\.eclipse\.org/uml2/(2\.0\.0|2\.1\.0|3\.0\.0|4\.0\.0|5\.0\.0)/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml_2_0_0"
            file-extensions="epx,emx,efx"
            id="org.eclipse.uml2.uml_2_0_0.rsa"
            name="%_UI_UML_2_0_0_rsa_content_type"
            priority="high">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/2.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml_2_1_0"
            file-extensions="epx,emx,efx"
            id="org.eclipse.uml2.uml_2_1_0.rsa"
            name="%_UI_UML_2_1_0_rsa_content_type"
            priority="high">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml_3_0_0"
            file-extensions="epx,emx,efx"
            id="org.eclipse.uml2.uml_3_0_0.rsa"
            name="%_UI_UML_3_0_0_rsa_content_type"
            priority="high">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/3.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml_4_0_0"
            file-extensions="epx,emx,efx"
            id="org.eclipse.uml2.uml_4_0_0.rsa"
            name="%_UI_UML_4_0_0_rsa_content_type"
            priority="high">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/4.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.uml2.uml_5_0_0"
            file-extensions="epx,emx,efx"
            id="org.eclipse.uml2.uml_5_0_0.rsa"
            name="%_UI_UML_5_0_0_rsa_content_type"
            priority="high">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http://www.eclipse.org/uml2/5.0.0/UML">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rsaToPapyrusParameters -->
      <package
            uri="http:///RSAToPapyrusParameters.ecore"
            class="org.eclipse.papyrus.migration.rsa.RSAToPapyrusParameters.RSAToPapyrusParametersPackage"
            genModel="model/ui/rsaToPapyrusParameters.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.context">
      <context
            contextModel="dialog/RSAToPapyrusParameters.ctx"
            isCustomizable="false">
      </context>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="platform:/plugin/org.eclipse.papyrus.migration.rsa/model/ui/rsaToPapyrusParameters.uml"
            uri="http:///RSAToPapyrusParameters.ecore">
      </profile>
   </extension>
   
   <extension
   		point="org.eclipse.ui.importWizards">
   		<wizard
   			category="org.eclipse.papyrus.infra.core.importcategory"
   			class="org.eclipse.papyrus.migration.rsa.wizard.TransformationWizard"
   			icon="icons/import_wiz_16x16.gif"
   			id="org.eclipse.papyrus.migration.rsa.transformationWizard"
   			name="RSA Models/Profiles">
   			<description>
   				Select and transform .emx and .epx files through the wizard window
   			</description>
   		</wizard>
   	</extension>
	
</plugin>
