<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model.profile -->
      <package
            uri="http:///OptimizationProfile.ecore"
            class="profile.OptimizationProfile.com.cea.qompass.architect.optimizationPackage"
            genModel="model/model.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated model.profile -->
      <parser
            type="com.cea.qompass.architect.optimization"
            class="profile.OptimizationProfile.util.com.cea.qompass.architect.optimizationResourceFactoryImpl"/>
   </extension>
</plugin>
