<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <menu
               icon="icons/papyrus.png"
               id="org.eclipse.papyrus.infra.gmfdiag.menu.editmenu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
            </command>
            <separator
                  name="undo_redo_separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.paste.diagram" label="Graphical Paste"
                  style="push">
            </command>            
            <command
                  commandId="org.eclipse.papyrus.copy.diagram"  label="Graphical Copy" 
                  style="push">
            </command>       
            <command 
                  commandId="org.eclipse.papyrus.cut.diagram" label="Graphical Cut" 
                  style="push">
            </command>                          
            <separator
                  name="edit_actions_separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.papyrus.infra.gmfdiag.menu.selectelementswithsametype"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?endof=editMenu">
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="IMG_TOOL_DELETE_DISABLED"
               icon="IMG_TOOL_DELETE"
               label="Delete Selected Element"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram"
               icon="icons/obj16/eraser.gif"
               label="Delete From diagram"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.GraphicalCutInDiagramHandler"
            commandId="org.eclipse.papyrus.cut.diagram">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <test
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.context.tester.isGmfDiagramContextActive"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isDiagramEditor"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.GraphicalCopyInDiagramHandler"
            commandId="org.eclipse.papyrus.copy.diagram">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <test
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.context.tester.isGmfDiagramContextActive"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isDiagramEditor"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
     <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.GraphicalPasteInDiagramHandler"
            commandId="org.eclipse.papyrus.paste.diagram">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <test
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.context.tester.isGmfDiagramContextActive"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isDiagramEditor"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.PasteInDiagramHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <test
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.context.tester.isGmfDiagramContextActive"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isDiagramEditor"
                        value="true">
                  </test>
               </with> 
               <!--<with
                     variable="activeShell">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isTextZone"
                        value="false">
                  </test>
               </with> -->                                   
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.CopyInDiagramHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <test
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.context.tester.isGmfDiagramContextActive"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection" >
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isDiagramEditor"
                        value="true">
                  </test>
               </with>
               <!--<with
                     variable="activeShell">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isTextZone"
                        value="false">
                  </test>
               </with> -->                       
            </and>
         </activeWhen>
      </handler>    
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.CutInDiagramHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <test
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.context.tester.isGmfDiagramContextActive"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isDiagramEditor"
                        value="true">
                  </test>
               </with>
               <!--<with
                     variable="activeShell">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.common.diagram.tester.isTextZone"
                        value="false">
                  </test>
               </with> -->                
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.DeleteFromModelCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                     </instanceof>
                     <test
                           property="org.eclipse.papyrus.uml.diagram.common.isSemanticDeletion"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.DeleteFromDiagramCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                     </instanceof>
                     <test
                           property="org.eclipse.papyrus.uml.diagram.common.isSemanticDeletion"
                           value="false">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.DeleteFromDiagramCommandHandler"
            commandId="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram">
         <activeWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.HeterogeneousDeleteCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
               <reference
                     definitionId="org.eclipse.papyrus.infra.gmfdiag.menu.isHeterogeneousMultiSelection">
               </reference>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.SelectElementWithTheSameTypeHandler"
            description="Select the elements in the current diagram which have the same type"
            id="org.eclipse.papyrus.infra.gmfdiag.menu.selectelementswithsametype"
            name="Select Elements With Same Type">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.GraphicalPasteInDiagramHandler" 
            description="Paste the elements in the current diagram"
            id="org.eclipse.papyrus.paste.diagram"
            name="Graphical Paste ">
      </command>      
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.GraphicalCopyInDiagramHandler"
            description="Copy the elements in the current diagram"
            id="org.eclipse.papyrus.copy.diagram"
            name="Graphical Copy">
      </command> 
      <command 
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.gmfdiag.menu.handlers.GraphicalCopyInDiagramHandler"
            description="Cut the elements in the current diagram"
            id="org.eclipse.papyrus.cut.diagram"
            name="Graphical Cut">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Delete the selection from diagram"
            id="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram"
            name="Delete From Diagram Command">
      </command>                      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.papyrus.infra.gmfdiag.menu.selectelementswithsametype"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+A">
      </key>
      <key
            commandId="org.eclipse.ui.edit.copy"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="org.eclipse.ui.edit.cut"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="org.eclipse.ui.edit.paste"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
       <key
            commandId="org.eclipse.papyrus.paste.diagram"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="org.eclipse.papyrus.copy.diagram"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key> 
      <key
            commandId="org.eclipse.papyrus.cut.diagram"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+X">
      </key>
      <key
            commandId="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+DEL">
      </key>                   
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.infra.gmfdiag.menu.isHeterogeneousMultiSelection">
         <with
               variable="selection">
            <not>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        property="org.eclipse.papyrus.uml.diagram.common.isSemanticDeletion"
                        value="false">
                  </test>
                  <instanceof
                        value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                  </instanceof>
               </iterate>
            </not>
            <not>
               <count
                     value="1">
               </count>
            </not>
         </with>
      </definition>
   </extension>

</plugin>
