<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.papyrus.export.exportAllDiagrams"
               icon="icons/exportAll.png"
               id="org.eclipse.papyrus.export.exportAllDiagrams"
               label="Export All Diagrams..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                     <with
                           variable="selection">
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="di">
                              </test>
                           </adapt>
                        </iterate>
                     </with>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.export.exportAllDiagrams"
            name="ExportAllDiagrams">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.export.actions.ExportAllDiagramsAction"
            commandId="org.eclipse.papyrus.export.exportAllDiagrams">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.export.propertytester.ExportableSelectionPropertyTester"
            id="org.eclipse.papyrus.export.propertyTester"
            namespace="org.eclipse.papyrus.export"
            properties="isFileExportable"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.export.propertytester.ExportableSelectionPropertyTester"
            id="org.eclipse.papyrus.export.propertyTester"
            namespace="org.eclipse.papyrus.export"
            properties="isCollectionExportable"
            type="java.util.Collection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.export.propertytester.ExportableSelectionPropertyTester"
            id="org.eclipse.papyrus.export.propertyTester"
            namespace="org.eclipse.papyrus.export"
            properties="isExportableModel"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.papyrus.infra.core.exportcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.export.wizard.ExportAllWizard"
            icon="icons/exportAll.png"
            id="org.eclipse.papyrus.export.diagrams.wizard"
            name="Export All Diagrams">
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.di">
         </selection>
         <selection
               class="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.uml.import.menu">
         <menu
               id="org.eclipse.papyrus.uml.export.menu"
               label="&amp;Export"
               icon="icons/export_wiz_16x16-papyrusColor.gif"
               tooltip="Papyrus Export Menu">            
         <command
               commandId="org.eclipse.papyrus.export.exportAllDiagrams"
               icon="icons/exportAll.png"
               id="org.eclipse.papyrus.export.exportAllDiagrams"
               label="Export All Diagrams..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.export.isExportableModel">
                  </test>
               </with>
            </visibleWhen>
         </command>
        </menu> 
      </menuContribution>
   </extension>
</plugin>
