<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="alfcompiler" name="AlfCompiler" schema="schema/alfcompiler.exsd"/>

  <extension
        point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
     <profile
           name="ActionLanguage"
           path="platform:/plugin/org.eclipse.papyrus.alf/resources/ActionLanguage-Profile.profile.uml">
     </profile>
  </extension>




</plugin>
