<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.papyrus.uml.perspective.PapyrusPerspective"
            icon="icons/Papyrus_16x16.gif"
            id="org.eclipse.papyrus.infra.core.perspective"
            name="Papyrus">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.1createproject">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.papyrus.infra.core.perspective">
               </equals>
            </with></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.papyrus.infra.core.perspective">
               </equals>
            </with></enablement>
      </commonWizard>
   </extension>

</plugin>
