<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BPMN_PROFILE/"
            target="platform:/plugin/org.eclipse.upr.bpmn/model/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="UML profile for BPMN 2.0"
            iconpath="icons/bpmn64_64.png"
            name="BPMN"
            path="pathmap://BPMN_PROFILE/bpmn.profile.uml"
            provider="CEA List">
      </profile>
   </extension>
</plugin>
