<?xml version="1.0" encoding="UTF-8" standalone="no"?><?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.eclipse.papyrus.views.properties.context">
		<context contextModel="propertyView/UML-RT/uml-rt.ctx" isCustomizable="true"/>
	</extension>

	<extension
			point="org.eclipse.papyrus.views.properties.environment">
		<environment
			environmentModel="propertyView/UML-RT/Environment.xmi">
		</environment>
	</extension>	
</plugin>
                                                                      