<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.cpp.examples.HelloWorldOOModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.infra.core/icons/papyrus/Papyrus.gif"
			id="org.eclipse.papyrus.cpp.examples.new.HelloWorldOO"
			name="C/C++ hello world example">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
</plugin>
