<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.views.properties.context">
      <context
            contextModel="model/properties/css.ctx">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.environment">
      <environment
            environmentModel="model/Environment.xmi">
      </environment>
   </extension>
<extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.generalcategory"
          class="org.eclipse.papyrus.infra.gmfdiag.css.properties.property.StyleSheetsPropertyPage"
          id="org.eclipse.papyrus.infra.gmfdiag.css.stylesheets"
          name="Style sheets">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
          </adapt>
       </enabledWhen>
    </page>
 </extension>
</plugin>
