<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
      <shapeProvider
            class="org.eclipse.papyrus.uml.diagram.symbols.provider.TypedElementShapeProvider"
            description="Provides the shapes based on the type for a typed element, based on a stereotype description of the stereotype"
            id="org.eclipse.papyrus.uml.diagram.symbols.typedelementshapeprovider"
            name="Typed Element Shape Provider">
         <Priority
               name="Lowest"></Priority>
      </shapeProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_INTERNAL_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.uml.diagram.symbols/resources/"/>
            </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Profile that provides annotations for the tool itself (Decorations, etc.)"
            iconpath="icons/symbols.gif"
            name="Papyrus Internal"
            path="pathmap://PAPYRUS_INTERNAL_PROFILES/PapyrusInternal.profile.uml"
            provider="CEA LIST">
      </profile>
   </extension>
    <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
      <shapeProvider
            class="org.eclipse.papyrus.uml.diagram.symbols.provider.ActorShapeProvider"
            description="Provides the shapes for UML::Actors or elements typed by an Actor"
            id="org.eclipse.papyrus.uml.diagram.symbols.actorshapeprovider"
            name="Actor Shape Provider">
         <Priority
               name="Lowest"></Priority>
      </shapeProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
      <shapeProvider
            class="org.eclipse.papyrus.uml.diagram.symbols.provider.StereotypedElementShapeProvider"
            description="Provides the shapes based on symbols defined on stereotypes"
            id="org.eclipse.papyrus.uml.diagram.symbols.stereotypedelementshapeprovider"
            name="Stereotyped Element Shape Provider">
         <Priority
               name="Lowest"></Priority>
      </shapeProvider>
   </extension>
   <extension
      point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
   <editpartProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.ShapeCompartmentEditPartProvider">
      <Priority
            name="Medium">
      </Priority>
      <object
            class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
            id="org.eclipse.papyrus.sysml.diagram.internalblock.editpart.ShapeCompartmentDisplay">
         <method
               name="getType()"
               value="compartment_shape_display">
         </method>
      </object>
   </editpartProvider>
</extension>

<!-- edit policy provider for shape compartments -->	
<extension
	point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider
		class="org.eclipse.papyrus.uml.diagram.symbols.provider.ShapeEditPolicyProvider">
		<Priority name="Low"/>
	</editpolicyProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.LifelineShapeProvider"
         description="Provides the shapes based on the type of the element represented by the lifeline. Relies on TypedElementShapeProvider"
         id="org.eclipse.papyrus.uml.diagram.symbols.lifelineshapeprovider"
         name="Lifeline Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.TimeObservationShapeProvider"
         description="Provides the shapes for UML::TimeObservation or elements typed by a TimeObservation"
         id="org.eclipse.papyrus.uml.diagram.symbols.timeobservationshapeprovider"
         name="TimeObservation Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.DurationObservationShapeProvider"
         description="Provides the shapes for UML::DurationObservation or elements typed by a DurationObservation"
         id="org.eclipse.papyrus.uml.diagram.symbols.durationobservationshapeprovider"
         name="DurationObservation Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.SendSignalActionShapeProvider"
         description="Provides the shapes for UML::SendSignalAction or elements typed by a SendSignalAction"
         id="org.eclipse.papyrus.uml.diagram.symbols.sendsignalshapeprovider"
         name="SendSignalAction Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.ActivityFinalNodeShapeProvider"
         description="Provides the shapes for UML::ActivityFinalNode  or elements typed by a ActivityFinalNode "
         id="org.eclipse.papyrus.uml.diagram.symbols.activityfinalnodeshapeprovider"
         name="ActivityFinalNode Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.InitialNodeShapeProvider"
         description="Provides the shapes for UML::InitialNode  or elements typed by a InitialNode"
         id="org.eclipse.papyrus.uml.diagram.symbols.initialnodeshapeprovider"
         name="InitialNode Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.FlowFinalNodeShapeProvider"
         description="Provides the shapes for UML::FlowFinalNode  or elements typed by a FlowFinalNode"
         id="org.eclipse.papyrus.uml.diagram.symbols.flowfinalshapeprovider"
         name="FlowFinalNode Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.DecisionNodeShapeProvider"
         description="Provides the shapes for UML::DecisionNode or elements typed by a DecisionNode"
         id="org.eclipse.papyrus.uml.diagram.symbols.decisionnodeshapeprovider"
         name="DecisionNode Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.AcceptEventActionShapeProvider"
         description="Provides the shapes for UML::AcceptEventAction or elements typed by a AcceptEventAction"
         id="org.eclipse.papyrus.uml.diagram.symbols.accepteventactionshapeprovider"
         name="AcceptEventAction Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.symbols.provider.MergeNodeShapeProvider"
         description="Provides the shapes for UML::MergeNode  or elements typed by a MergeNode"
         id="org.eclipse.papyrus.uml.diagram.symbols.mergenodeshapeprovider"
         name="MergeNode Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
</plugin>
