<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.tester">
      <tester
            class="org.eclipse.papyrus.adl4eclipsetool.table.tester.TableArchitectureCreationTester"
            id="org.eclipse.papyrus.adl4eclipsetool.table.tester.TableArchitectureCreationTester">
      </tester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="resource/architecture.nattableconfiguration"
            type="PapyrusArchitectureTable">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.adl4eclipsetool.table.manager.PluginAxisManager"
            manager="org.eclipse.papyrus.adl4eclipsetool.table.manager.PluginAxisManager">
      </axisManager>
   </extension>

</plugin>
