<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.modelrepair.refactor?after=additions">
         <command
               commandId="org.eclipse.papyrus.uml.decoratormodel.ui.ExternalizeProfiles"
               label="%externalize.label"
               style="push"
               tooltip="%externalize.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate operator="and" ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.uml.decoratormodel.ownsProfileApplications">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.uml.decoratormodel.ui.InternalizeProfiles"
               label="%internalize.label"
               style="push"
               tooltip="%internalize.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate operator="and" ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.uml.decoratormodel.hasExternalProfileApplications">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <command
               commandId="org.eclipse.papyrus.uml.decoratormodel.ui.UnloadProfileApplications"
               label="%unload.pkg.label"
               style="push"
               tooltip="%unload.pkg.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <iterate operator="and" ifEmpty="false">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Package">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.uml.decoratormodel.isDecoratorModel">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.uml.decoratormodel.ui.LoadAvailableDecoratorModels"
               label="%load.label"
               style="push"
               tooltip="%load.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate operator="and" ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.uml.decoratormodel.hasUnloadedDecoratorModels"
                              args="recursive,optimistic">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.uml.decoratormodel.ui.UnloadLoadedDecoratorModels"
               label="%unload.cmd.label"
               style="push"
               tooltip="%unload.cmd.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate operator="and" ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.uml.decoratormodel.hasLoadedDecoratorModels"
                              args="recursive">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.uml.decoratormodel.internal.ui.commands.ExternalizeProfilesHandler"
            description="%externalize.description"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.ExternalizeProfiles"
            name="%externalize.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.uml.decoratormodel.internal.ui.commands.InternalizeProfilesHandler"
            description="%internalize.description"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.InternalizeProfiles"
            name="%internalize.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.uml.decoratormodel.internal.ui.commands.UnloadDecoratorModelHandler"
            description="%unload.pkg.description"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.UnloadProfileApplications"
            name="%unload.pkg.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.uml.decoratormodel.internal.ui.commands.LoadAvailableDecoratorModelsHandler"
            description="%load.description"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.LoadAvailableDecoratorModels"
            name="%load.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.uml.decoratormodel.internal.ui.commands.UnloadLoadedDecoratorModelsHandler"
            description="%unload.description"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.UnloadLoadedDecoratorModels"
            name="%unload.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.uml.decoratormodel.internal.ui.expressions.PackagePropertyTester"
            id="org.eclipse.papyrus.uml.decoratormodel.package"
            namespace="org.eclipse.papyrus.uml.decoratormodel"
            properties="ownsProfileApplications,hasExternalProfileApplications,isDecoratorModel,hasUnloadedDecoratorModels,hasLoadedDecoratorModels"
            type="org.eclipse.uml2.uml.Package">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="%cnf.filter.description"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.DecoratorModelFilter"
            name="%cnf.filter.name"
            visibleInUI="true">
         <filterExpression>
            <adapt
                  type="org.eclipse.emf.ecore.EObject">
               <instanceof
                     value="org.eclipse.uml2.uml.Package">
               </instanceof>
               <test
                    property="org.eclipse.papyrus.uml.decoratormodel.isDecoratorModel">
               </test>
            </adapt>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.papyrus.uml.decoratormodel.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.papyrus.uml.decoratormodel.internal.ui.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.papyrus.uml.decoratormodel.internal.ui.providers.DecoratorModelLabelDecorator"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.DecoratorModel"
            label="%profapps.decorator.label"
            lightweight="true"
            state="true">
         <description>
            %profapps.decorator.description
         </description>
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.emf.ecore.EObject">
               </objectClass>
               <objectClass
                     name="org.eclipse.papyrus.emf.facet.custom.metamodel.v0_2_0.internal.treeproxy.EObjectTreeElement">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectClass
                     name="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <modelSetSnippet
            classname="org.eclipse.papyrus.uml.decoratormodel.internal.ui.providers.AvailableDecoratorModelsSnippet"
            description="Interceptor of resource loads that optionally prompts to load available decorator models.">
      </modelSetSnippet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.uml.decoratormodel.internal.ui.preferences.ProfileExternalizationUIPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.uml.decoratormodel.internal.ui.preferences.DecoratorModelPreferencePage"
            id="org.eclipse.papyrus.uml.decoratormodel.ui.DecoratorModelPreferences"
            name="%profapps.page.name">
      </page>
   </extension>
</plugin>
